body {
    overflow-x: hidden;
    margin: 0;
}
#bg,#test {
    position: absolute;
    width: 100%;
    height: 100%;
}
* {
    transition: .5s all;
}

::placeholder {
    color: black;
    text-shadow: 0 0 2px white;
}
#error {
    position: absolute;
    background: #900;
    width: 20vh;
    height: 5vh;
    bottom: 25vh;
    border: 2px solid black;
    border-radius: 8px;
    font-family: Arial;
    right: -22vh;
}
.show {
    animation-name: shide;
    animation-fill-mode: forwards;
    animation-duration: 4s;
    animation-delay: 0s;
}
@keyframes shide {
    0% {
        right: -22vh;
        opacity: 0;
    }
    10% {
        right: -8px;
        opacity: 1;
    }
    90% {
        right: -8px;
        opacity: 1;
    }
    100% {
        right: -22vh;
        opacity: 0;
    }
}
#erC,#erT {
    position: absolute;
    color: #eee;
}
#erT {
    top: 2px;
    margin-top: -.1vh;
    margin-left: .3vh;
    font-size: 2.5vh;
}
#erC {
    top: 2.5vh;
    font-size: 1.5vh;
    margin-top: .3vh;
    margin-left: .3vh;

}
#ename, #repeat {
    margin-top: 2vh;
    top: 40%;
    margin-left: calc(50% - 13vh);
    width: 26vh;
    font-size: 3vh;
    border: rgba(0,0,0,0) 1px solid;
    border-bottom: #000 1px solid;
    height: 5vh;
    background: none;
    text-underline: #eee;
    color: #000;
    outline: none;
    box-shadow: none;
    transition: .3s border;
}
#panel {
    box-shadow: 0 0 5px white;
    border-radius: 12px;
    border: #000 1px solid;
    position: absolute;
    margin-top: 10vh;
    left: calc(50% - 17.5vh);
    width: 35vh;
    height: 10vh;
    background: rgba(0,0,0,.2);
    backdrop-filter: blur(2px);
}
#repeat {
    margin-top: 3vh;
}

#opis {
    text-align: center;
    font-family: Arial;
}

#te {
    margin-left: calc(50% - 12.5vh);
    width: 25vh;
    font-size: 4vh;
    font-weight: lighter;
}
#opis {
    font-weight: 400;
    font-style: italic;
    color: #555;
}

#ename:focus {
    border: 1px solid #000;
}

#repeat:focus {
    border: 1px solid #000;
}
